@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
/* css variables */
:root{
   --size: 100px;
   --markupSize: calc(var(--size) * .6)
}
 .remlad{
    font-family: cursive;
    color: red;
    top: 0;
    margin: 0;
    text-align: center !important;
}

/* board */
.board{
    height: 100vh;
    width: 100vw;
    display:grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.cell{
    height: var(--size);
    width: var(--size);
    border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* removing borders  */
.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n+ 1){
border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: none;
}




.cell.x::after, 
.cell.x::before{
    background-color: black;
}

.cell.circle::before{
    background-color: black;
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background: white; 
   
}


/* hovering effect on already placed item */
.cell.x:hover,
.cell.circle:hover{
    cursor: not-allowed;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    background-color: lightgreen;
}


/* creating circle item */
.cell.circle::after, 
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    width: var(--markupSize);
    height: var(--markupSize);
    
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after
{
    width: calc(var(--markupSize)*.60);
    height: calc(var(--markupSize)*.60);
}






/* x item */
.cell.x::after, 
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after

{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(var(--markupSize)*.2);
    height: var(--markupSize);
}

.cell.x::before,.board.x .cell:hover::before{
    transform: rotate(45deg);
}
.cell.x::after,.board.x .cell:hover::after{
   transform: rotate(-45deg);
}


/* message  */
.message{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}
.message button{
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
}
.message button:hover{
    background-color: black;
    color: white;
    transition: all 200ms ease-in-out;
}
.message button:focus{
    outline: 0;
    border-color: black;
}
.message .resultmessages{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2px;
}